/* Google Fonts */
@import url("https://use.typekit.net/sja0yoi.css");




/*
Philosopher Font
 
  font-family: philosopher, sans-serif;
  font-style: normal;
  font-weight: 400; 
  */

/* 
Poiret One Regular

  font-family: poiret-one,
  sans-serif;
  font-weight: 400;
  font-style: normal; 
*/


/*  
font-family: 'Krona One', sans-serif;
font-family: 'Sonsie One', cursive;  
*/

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: poiret-one,
  sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover{
  text-decoration: none;
}

.poiret{
  font-family: poiret-one,
  sans-serif;
  font-weight: 400;
  font-style: normal;
}

.page-generator__output, p{
font-family: pt-serif,
serif;
font-weight: 400;
font-style: normal;
}

.philosopher{
  font-family: philosopher,
  sans-serif;
  font-style: normal;
  font-weight: 400;
}

.navbar-brand {
font-family: philosopher,
sans-serif;
font-style: normal;
font-weight: 400;
font-size: 30px;
}

.nav-link {
  font-family: poiret-one,
  sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

.subscribe {
  color: #2e2f2f;
  text-align: center;
  padding: 2.5%;
  background-color: #fefffe;
}

/* Navbar */
.menu-item,
.menu-item a {
  color: #000000;
  padding: 0 10%;
  font-size: 20px;
  font-family: poiret-one,
  sans-serif;
  font-weight: 600;
  font-style: normal;
}

.menu-item a:hover{
  text-decoration: none;
}

.cartIcon,
.cartIcon a {
  padding: 0px;
  margin-left: 65%;
  float: right;
  color: red;
}

/* Widgets */
.widget ul,
.product-categories li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.widget_product_categories a,
.widget_recent_entries a, .widget_shopping_cart a,
.widget_recently_viewed_products a
  {
  color: #000000;
  text-decoration: none;
}

.widget_product_categories,
.widget_recent_entries,
.widget_price_filter,
.widget_shopping_cart,
.widget_recently_viewed_products,
.widget_top_rated_products {
  list-style-type: none;
  border: 1px solid lightgrey;
  padding: 10%;
  border-radius: 5px;
  background-color: #E9E9EA;
}

.woocommerce-mini-cart__buttons .buttons button {
  background-color: #41AD49;
}

/* Checkout Page */
.form-row,
.woocommerce-input-wrapper {
  width: 95%;
}

.woocommerce-billing-fields__field-wrapper,
.woocommerce-additional-fields {
  padding: 2.5%;
  margin: 3.5% 0;
  border-radius: 5px;
}

/* Shopping / All products */


/* Cards */
.onsale {
  font-size: 26px;
  color: white;
  font-weight: 600;
  background-color: #44AE4C;
  padding: .50rem;
  border-radius: .5rem;
  position: absolute;
  left: 7%;
  top: 5%;
  margin: 0;
  max-height: 70px;
  z-index: 1;
}

.woocommerce-loop-product__link .onsale {
  font-size: 15px;
  color: white;
  font-weight: 600;
  background-color: none;
  
  
}

.woocommerce-Price-amount {
  padding: 0 0.5rem;
}

.price {
  font-size: 20px;
  padding: 2.5%;
}

.prodcutsCustom ul {
  display: inline-block;
}

.woocommerce-loop-product_title{
  font-size: 20px;
  padding: 5% 0;
}

.addToCartButtons{
padding-top: 5%;
padding-bottom: 0px;
background-color: #fff;
border-radius: 5px;
}

.productCards a{
  color: #000000;

}

.productCards {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5) !important;
  min-height: 545px;
  max-height: 550px;
  padding: 0;
  margin: 2.5% 0;
  border-radius: 5px;
  background-image:linear-gradient(180deg, #E9E9EA, #ffffff);
}

.attachment-woocommerce_thumbnail, .size-woocommerce_thumbnail{
  margin: 10% 0;

  /* height: 200px; */
}

.cardBtn{
  border: solid 1px #014023 ;
  padding: 3.5%;
  font-size: 15px;
}

.cardBtn:hover {
  background-color: #014023;
  transition: .2s ease-in;
  color: #fff;
}


.cardSubtitle{
  color: #014023;
}

.belowImage{
  margin: 0px;
  padding-top: 2.5%;
  padding: 0;
  background-color: #fff;
}

.woocommerce-LoopProduct-link, .woocommerce-loop-product__link{
  margin-top:2.5%;
  padding-top: 2.5%; 
}

.homeProducts{
  background-color: #ffffff;
}

/* Pagination */
.woocommerce-pagination a{
  color: #000000;
  text-decoration: none;
  font-size: 35px;
  font-family: poiret-one,
  sans-serif;
  font-weight: 400;
  font-style: normal;
}

.woocommerce-pagination{
  color: #000000;
  text-decoration: none;
  font-size: 35px;
  font-family: poiret-one,
  sans-serif;
  font-weight: 400;
  font-style: normal;
}


.woocommerce-pagination li{
 display: inline-block;

}

.woocommerce-pagination ul{
  list-style-type: none;
}

.page-numbers .current {
  color:red;
  font-size: 23px;
  font-family: poiret-one,
  sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Shopping / Single Product */
.entry-summary, .entry-content, .related {
  padding:2.5%;
}


.quantity{
  margin: 2.5%;
}

.singleProductHero{
  background-color: #C6E6C8;
  padding: 5%;
}

.page-title{
  padding: 2.5% 5%;
}

.woocommerce-result-count {
  margin: 0;
  padding: 0 7%;
}

.orderby{
  margin: 0 7%;
  padding: 0.5% 1%;
}

/* Tabs */
.fitTabs{
  width: 100%;
}

.fitTabs ul{
  display: inline;
  list-style-type: none;
  border-radius: 5px;
  width: 100%;
  padding: 2.5%;
  background-color: #F2F2F2;

}
.fitTabs li{
display: inline-block;
padding: 2.20%;
}
.fitTabs .active{
display: inline-block;
color: #ffffff;
background-color: #41AD49;
transition: .450s ease-in ;
/* border-radius: 10px; */
}

.tabs .wc-tabs {
display: inline-block;
list-style-type: none;
}

.reviews_tab{
  display: inline-block;
}


/* Proceed to Checkout & Checkout Button */
 .checkout-button {
  margin:0 2.5%;
  background-color:#014023;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,
  background-color .15s ease-in-out,
  border-color .15s ease-in-out,
  box-shadow .15s ease-in-out;;
}

.checkout-button:hover{
  background-color:#1EAE5A;
  color: #ffffff;

}

/* Add to Cart Button */
.single_add_to_cart_button
 {
  margin:0 2.5%;
  background-color: #014023;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,
  background-color .15s ease-in-out,
  border-color .15s ease-in-out,
  box-shadow .15s ease-in-out;;
}

.product_meta a, .wc-tabs a{
  text-decoration: none;
  color: #000000;
}

.product_meta, .wc-tabs{
  margin: .5% 2.5%;
}

/* Store Page */
.storePage{
  background-color: #C6E6C8;
}

/* Categories Page */

.product-category {
  min-width: 10%;
  max-width: 17%;
  list-style-type: none;
  margin: 0 2.5%;
  padding: 2.5% 2.5%;
  display: inline-block;
}

.product-category a{
  text-decoration: none;
  color: #000000;
  font-family: poiret-one,
  sans-serif;
  font-weight: 400;
  font-style: normal;
}

.count{
  background-color: none;
}


/* Cards */
.cards ul {
  list-style-type: none;
}

.card img {
  padding: 2.5%;
  margin: 5% 0px;
  box-shadow: 1px 1px 6px #00000050;
}

.card {
  height: 375px;
  border-radius: 5%;
  width: auto;
  padding: 10%;
  text-align: center;
  box-shadow: -1px 4px 5px rgba(0, 0, 0, 0.5);
  background-color: #bfd7ea !important;
}

.cards {
  height: 375px;
  width: auto;
  padding: 2px;
  margin: 2px 0px;
}

.cardrow {
  padding: 4.5%;
  background-color: #fefffe;
}

/* Content */
.theContent ul {
  margin: 3.5% 0;
}

.theContent li {
  margin: 1.5% 0;
}

.theContent ul,
.theContent li {
  list-style-type: square;
  font-size: 18px;
}
.theContent video {
  border-radius: 5px;
  margin: 2.5% 0;
  box-shadow: -1px 2px 6px rgba(0, 0, 0, 0.5);
}

/* My Account Page */
.accountNavigation{
  background-color: #E9E9EA;
  border-radius: 5px;
  padding: 5% 10%;
  

}

.woocommerce-MyAccount-content{
  background-color: #E9E9EA;
  border-radius: 5px;
  padding: 2.5% 2.5%;
}


.woocommerce-form-login__submit, .woocommerce-form-register__submit {
  margin:0 2.5%;
  background-color:#014023 !important;
  color: #ffffff !important;
  display: inline-block !important;
  text-align: center !important;
  vertical-align: middle !important;
  user-select: none !important;
  border: 1px solid transparent !important;
  padding: .375rem .75rem !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  border-radius: .25rem !important;
  transition: color .15s ease-in-out,
  background-color .15s ease-in-out,
  border-color .15s ease-in-out,
  box-shadow .15s ease-in-out !important;
   ;
}

.woocommerce-form-login__submit:hover, .woocommerce-form-register__submit:hover {
  background-color:#1EAE5A !important;
  color: #ffffff !important;
}

.registerBlock,
.loginBlock {
  background-color: #E9E9EA;
  border-radius: 5px;
  padding: 2.5% 2.5%;
  margin: 10% 0% 25% 0% ;
}

/* Carousel */
.carousel-item {
  max-height: 60vh !important;
}

.itemOne {
  background-image: url("../Assets/img/4.JPG");
  background-position: center;
  background-size: cover;
  height: 60vh;
}

.itemTwo {
  background-image: url("../Assets/img/5.JPG");
  background-position: center;
  background-size: cover;
  height: 60vh;
}

.itemThree {
  background-image: url("../Assets/img/6.JPG");
  background-position: center;
  background-size: cover;
  height: 60vh;
}

/* Ads */
.ads {
  height: auto;
  text-align: center;
  background-color: #E9E9EA;
}


.adsbg3 {
  padding: 2.5%;
  border-radius: 10px;
  background-color: rgba(232, 233, 237, 0.9);
}

.adsbg3 ul {
  list-style-type: none;
  text-align: center;
}

.adsbg3 img {
  height: 200px;
  width: 200px;
}

/* Featured */
.featuredprods {
  padding: 2.5%;
}

/* Reviews */

.reviews {
  background: url(../Assets/img/lpbg.jpeg);
  background-size: cover;
  background-position: center center;
  min-height: 300px;
  height: auto;
  padding: 2.5%;
}

.comments {
  padding: 5%;
  border-radius: 15px;
  background-color: rgba(232, 233, 237, 0.9);
}

/* Related Links */

.rellinks a {
  color: white;
}
.rellinks {
  background-color: #1c3a13;
  color: white;
  padding: 2%;
}

.stories {
  background-image: url(../Assets/img/4.JPG);
  background-position: center center;
  background-size: cover;
  background-repeat: none;
  height: auto;
  padding: 5%;
}


/* Hero */
.hero {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.8)
    ),
    url("../Assets/img/5.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  color: white;
}

/* Featured Products */
.mfeatured {
  background-color: #16B7F1;
  padding: 2.5%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  width: 75%;
}
.wfeatured {
  background-color: #EE1F97;
  padding: 2.5%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  width: 75%;
}

.topcategories {
  padding: 2.5% 2.5%;
  background: #fefffe;
  margin: 0px;
}

/* Headers */
.headers a {
  color: white;
}

.headers {
  background-color: #44AE4C;
  padding: 2.5%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
}

body,
html {
  overflow-x: hidden;
}
